*{
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    flex-direction: column;
}

body{
    margin: 88px;
}

img{
    border-radius: 28px;
    height: 350px;
    padding-bottom: 20px;
}

p{
    text-align: justify;
    color: #333;
    font-size: 16px;
    font-weight: 400;
}

h1{
    text-align: justify;
    font-size: 36px;
    font-weight: 700;
    color: #1B1B1B;
}

.page{
    box-sizing: border-box;
    display: inline-flex;
    justify-content: flex-end;
}

#Busan h1{
    padding-bottom: 44px;
}

#Busan img{
    background-size: cover;
    height: 660px;
    padding-bottom: 24px;
}

#Busan :first-child  {
    /* <p> Sua próxima viagem </p> */
    color: #E1624F;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

#Busan :last-child  {
    /* subtítulo */
    color: #333;
    text-align: center;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    padding-bottom: 40px;
}

#Destiny h2{
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #E1624F;
    text-align: justify;
    padding-top: 64px;
}

#Destiny p{
    padding-bottom: 64px;
}

#Temple , #SecondTemple , #Park h1 {
    font-size: 28px;
}

ul , li{
    text-align: justify;
    ;
}

::marker {
    color: #1B1B1B;
    font-size: 16px;
}

span p, ul {
    text-align: justify;
    font-weight: 700;
    font-size: 16px;
}

span ul li{
    list-style-position: inside;
    color: #0C51A7;
    font-weight: 700;
    padding-bottom: 40px;
}

#Park li{
    color:#591B98;
    padding: 0px;
}

#Park ul li + li{
    color: #E5245E;
    padding: 0px;
}

#Park ul li:last-child{
    color: #E95E10;
    padding-bottom: 40px;
}

.discription p{
    color: #333;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding-top: 40px;
}

hr{
    width: 1120px;
    border: solid 1px #D9D9D9;
}


footer{
    font-family: "Alice,serif";
    font-size: 16px;
    font-weight: 400;
    padding-top: 65px;
    padding-bottom: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer img{
    width: 16px;
    height: 16px;
    padding-left: 4px;
    padding-right: 4px;
}